<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
			<tr>
				<td>번호</td>
				<td th:text="${board.boardIdx}"></td>
				<td>제목</td>
				<td th:text="${board.title}"></td>
				<td>작성자</td>
				<td th:text="${board.memId}"></td>
				<td>조회수</td>
				<td th:text="${board.viewCount}"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td colspan="6" th:text="${board.content}"></td>
			</tr>
	</table>
	<a th:href="@{/board/list.do}"><label>목록</label></a> 
	<a th:href="@{/board/goModify.do(boardIdx=${board.boardIdx})}"><label>수정</label></a> 

</body>
</html>